<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moda Feminina</title>
    
    <link rel="icon" type="image/x-icon" href="/loja/loja/imagem/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>

<body>
    <header>
        <div class="logo">
            <h1>VogueVitality</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Categorias</a>
                    <div class="dropdown-content">
                        <div class="submenu">
                            <a href="#">Últimas Tendências</a>
                            <div class="sub-content">
                                <a href="#">Verão</a>
                                <a href="#">Outono</a>
                                <a href="#">Primavera</a>
                                <a href="#">Inverno</a>
                            </div>
                        </div>
                        <div class="submenu">
                            <a href="#">Moda Feminina</a>
                            <div class="sub-content">
                                <a href="blusafeminina.html">Blusas</a>
                                <a href="bermudafeminina.html">Bermudas</a>
                                <a href="calçafeminina.html">calça</a>
                                <a href="vestido.html">Vestido</a>
                            </div>
                        </div>
                        <div class="submenu">
                            <a href="#">Moda Masculina</a>
                            <div class="sub-content">
                                <a href="bermudamasculina.html">Bermuda </a>
                                <a href="calçamasculina.html">Calça </a>
                                <a href="camisamasculina.html">Camisa </a>
                                <a href="tennismasculina.html">Tennis</a>
                            </div>
                        </div>
                        <div class="submenu">
                            <a href="#">Marcas</a>
                            <div class="sub-content">
                                <!-- Aqui serão adicionados os botões de marcas dinamicamente -->
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="login.html"><i class="fas fa-user"></i> Login</a></li>
                <li><a href="carrinho.html"><i class="fas fa-shopping-cart"></i> Carrinho</a></li>
            </ul>
        </nav>
        <div class="search-container">
            <input type="text" placeholder="Pesquisar...">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
    </header>
    <h1>Calça Feminina</h1>
    <section class="container">
        <section class="mainhome">
            <div class="main-text">
                <h5>Coleção Inverno</h5>
                <h3>Nova Coleção <br>Inverno 2024</h3>
                <p>Aposte na elegância descomplicada</p>
            </div>
        </section>

        <div class="carousel">
            <div class="slides">
                <img src="/loja/loja/imagem/" alt="">
                <img src="/loja/loja/imagem/2.jpeg" alt="">
                <img src="/loja/loja/imagem/1.jpeg" alt="">
                <img src="/loja/loja/imagem/5.jpeg" alt="">
                <img src="/loja/loja/imagem/bl12.jpeg" alt="">
                <img src="/loja/loja/imagem/bl5.jpeg" alt="">
                <img src="/loja/loja/imagem/bl10.jpeg" alt="">
                <img src="/loja/loja/imagem/bl1.jpeg" alt="">
                <img src="/loja/loja/imagem/c2.jpeg" alt="">
                <img src="/loja/loja/imagem/c4.jpeg" alt="">
                <img src="/loja/loja/imagem/c3.jpeg" alt="">
                <img src="/loja/loja/imagem/bl9.jpeg" alt="">
                <img src="/loja/loja/imagem/c7.jpeg" alt="">
                <img src="/loja/loja/imagem/c5.jpeg" alt="">
                <img src="/loja/loja/imagem/bl15.jpeg" alt="">
                <img src="/loja/loja/imagem/v15.jpeg" alt="">
                <img src="/loja/loja/imagem/v10.jpeg" alt="">
                <img src="/loja/loja/imagem/v4.jpeg" alt="">

                <!-- Adicione mais imagens aqui conforme necessário -->
            </div>
        </div>
        


        
    </section>

    <!-- Seção de Novas Tendências -->
    <h2 class="centered" id="Novas Tendências">Novas Tendências</h2>
    <section class="trends">
        <div class="season">
            <img src="https://i.pinimg.com/564x/6e/c0/68/6ec0687c6b8d48805fd1816025cfcde4.jpg" id="Verão">
            <button>Verão</button>
        </div>
        <div class="season">
            <img src="https://i.pinimg.com/564x/58/ae/0a/58ae0a454ca1883dee4ffefcff155783.jpg" id="Outono">
            <button>Outono</button>
        </div>
        <div class="season">
            <img src="https://i.pinimg.com/564x/1d/8a/f6/1d8af63db2212d69ddf6e56e0498e55c.jpg" id="Primavera">
            <button>Primavera</button>
        </div>
        <div class="season">
            <img src="https://i.pinimg.com/564x/a1/0d/7e/a10d7ea26ff50a90bc8d2104a71897c4.jpg" id="Inverno">
            <button>Inverno</button>
        </div>
        </div>
    </section>
    </section>

    <h2 class="centered" id="Moda Feminina">Calça Feminina</h2>
    <section class="calcafeminina">
        <div class="item" id="Produto 1">
            <img src="/loja/loja/imagem/c1.jpeg" alt="Blusa Branca">
            <p>Blusa branca basica</p>
            <p>Valor: $XX.XX</p>
            <button onclick="adicionarAoCarrinho('/loja/loja/imagem/c1.jpeg', 'Blusa Branca')">Colocar no Carrinho</button>
        </div>

        <div class="item" id="Produto 2">
            <img src="/loja/loja/imagem/c2.jpeg" alt="Blusa Branca">
            <p>Blusa branca basica</p>
            <p>Valor: $XX.XX</p>
            <button onclick="adicionarAoCarrinho('/loja/loja/imagem/c2.jpeg', 'Blusa Branca')">Colocar no Carrinho</button>
        </div>

        <div class="item" id="Produto 3">
            <img src="/loja/loja/imagem/c3.jpeg" alt="Blusa Branca">
            <p>Blusa branca basica</p>
            <p>Valor: $XX.XX</p>
            <button onclick="adicionarAoCarrinho('/loja/loja/imagem/c3.jpeg', 'Blusa Branca')">Colocar no Carrinho</button>
        </div>

        <div class="item" id="Produto 4">
            <img src="/loja/loja/imagem/c4.jpeg" alt="Blusa Branca">
            <p>Blusa branca basica</p>
            <p>Valor: $XX.XX</p>
            <button onclick="adicionarAoCarrinho('/loja/loja/imagem/c4.jpeg', 'Blusa Branca')">Colocar no Carrinho</button>
        </div>

        <div class="item" id="Produto 5">
            <img src="/loja/loja/imagem/c5.jpeg" alt="Blusa Branca">
            <p>Blusa branca basica</p>
            <p>Valor: $XX.XX</p>
            <button onclick="adicionarAoCarrinho('/loja/loja/imagem/c5.jpeg', 'Blusa Branca')">Colocar no Carrinho</button>
        </div>

        <div class="item" id="Produto 6">
            <img src="/loja/loja/imagem/c6.jpeg" alt="Blusa Branca">
            <p>Blusa branca basica</p>
            <p>Valor: $XX.XX</p>
            <button onclick="adicionarAoCarrinho('/loja/loja/imagem/c6.jpeg', 'Blusa Branca')">Colocar
                no Carrinho</button>
        </div>

        <div class="item" id="Produto 7">
            <img src="/loja/loja/imagem/c7.jpeg" alt="Blusa Branca">
            <p>Blusa branca basica</p>
            <p>Valor: $XX.XX</p>
            <button onclick="adicionarAoCarrinho('/loja/loja/imagem/c7.jpeg', 'Blusa Branca')">Colocar
                no Carrinho</button>
        </div>

        <div class="item" id="Produto 8">
            <img src="/loja/loja/imagem/c8.jpeg" alt="Blusa Branca">
            <p>Blusa branca basica</p>
            <p>Valor: $XX.XX</p>
            <button onclick="adicionarAoCarrinho('/loja/loja/imagem/c8.jpeg', 'Blusa Branca')">Colocar
                no Carrinho</button>
        </div>

       
    
        </section>

            <section>
                

    <script src="javascripts.js"></script>
</body>

</html>