<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="carrinho.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-1+0n5jHcI62LmVBfKT3pzoAclDYDDb/x2tw3i7pxo30t2xwYojQG/R8lukMvz4ZC" crossorigin="anonymous">
</head>

<body>
    <header>
        <h1>VogueVitality</h1> 

        <div id="detalhesProduto">
            <img id="imagemProduto">
            <p id="descricaoProduto"></p>
        </div>
</header>

     <div class="header-content">
        <h2 class="cart-title">Meu Carrinho</h2>
        <a href="index.html" class="continue-shopping">Continuar Comprando</a>
     </div>

       <div class="atras">
       <main>
        <section id="carrinho" class="cart-items">
            <!-- Aqui serão exibidos os produtos adicionados ao carrinho -->
        </section>
      </main>
    </div>
    <button class="clear-cart">Limpar Carrinho</button>
    <script src="carrinho.js"></script>

</html>