/* carrinho.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  rgba(13, 21, 31, 0.2);
}

header {
    color: white;
    text-align: center;
    background-color: #052659;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

 h1 {
    align-items: center;
    margin-right: 2600px;
    margin-top: 20px;


}

.back-home {
    background-color: #1059c7;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    padding: 15px, 20px;
   
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px; /* Adicione uma margem superior para separar do cabeçalho */
}

.continue-shopping {
    margin-right: 990px; /* Adicione a margem para separar o botão do título */
}

.cart-title {
    margin-left: 60px; /* Adicione a margem para separar o título do botão */
}


main {
    display: flex;
    justify-content: space-around;
    margin-top: 7px;
    
}

.cart-items {
    list-style-type: none;
    padding: 0;
    margin-right: 800px;
}

.cart-item {
    margin-bottom: 30px;
    display: flex; /* Alteração */
    align-items: flex-start; /* Modificação */
    background-color: rgb(233, 224, 224); /* Fundo branco para cada item */
    padding: 20px; /* Adição para criar a margem interna */
    border-radius: 10px; /* Arredondar as bordas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicionar sombra */
   
}


.atras{
    margin-left: 20px;
    padding: 20px; /* Adição para criar a margem entre os produtos e o fundo */
}


.cart-item img {
    max-width: 250px;
    max-height:250px ;
    margin: 10px;
    border-radius: 10px;
    object-fit: contain;
    
}

.cart-item .product-description {
    flex-grow: 1; 
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px; 
}


.cart-item .options {
    display: flex;
    flex-direction: column; /* Alterado para coluna para empilhar os elementos verticalmente */
    align-items: flex-start; /* Alinhamento à esquerda */
}

.cart-item .size-buttons {
    margin-right: 10px;
}

.cart-item .quantity-selector {
    display: flex;
    flex-direction: column; /* Alterado para linha para posicionar a quantidade e o valor lado a lado */
    align-items: flex-start; /* Alinhamento vertical */
    margin-top: 5px; /* Adicionado espaçamento entre a palavra "Quantidade" e o seletor de quantidade */
}

.cart-item .quantity-selector label {
    margin-right: 10px; /* Adicionado espaçamento entre a label e o seletor de quantidade */
}

.cart-item .quantity-selector select {
    width: 70px; /* Reduz a largura do quadrado */
    border-radius: 8px; /* Torna as bordas mais arredondadas */
}

.cart-item .size-buttons button {
    background-color: #164aa2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}


.valor-produto {
    font-weight: bold;
    color: #333;
    font-size: 14px;
}

.cart-item .product-price {
  margin-top: 20px; /* Espaçamento entre a seleção de quantidade e o valor do produto */
}

.cart-item .product-price p {
    margin: 0 ; /* Remover margem padrão */
}

.cart-item .product-price .valor-produto {
    font-weight: bold; /* Negrito para destacar o valor */
    color: #333; /* Cor do texto */
}


.cart-item .remove-product {
    background-color: #03166c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 40px;
    margin-right: 20px;
}




.clear-cart {
    background-color: #1f0c6c;
    color: white;
    border: none;
    padding: 20px 25px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 650px;
    font-size: 20px;
  
}

.add-to-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

