<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="carrinho.css">
</head>

<body>
    <header>
        <h1>VogueVitality</h1> 

        <div id="detalhesProduto">
            <img id="imagemProduto">
            <p id="descricaoProduto"></p>
        </div>
</header>
    
       <h2>Meu carrinho ()</h2>   <a href="index.html">Continuar comprando</a>
       
       <div class="atras">
       <main>
        <section id="carrinho" class="cart-items">
            <!-- Aqui serão exibidos os produtos adicionados ao carrinho -->
        </section>
      </main>
    </div>

    <button class="clear-cart">Limpar Carrinho</button>
    <script src="carrinho.js"></script>

</html>