<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VogueVitality</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
    


</head>
<body>

<header>
    <div class="logo">
        <h1>VogueVitality</h1>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Categorias</a>
                <div class="dropdown-content">
                    <div class="submenu">
                        <a href="#">Últimas Tendências</a>
                        <div class="sub-content">
                            <a href="#">Verão</a>
                            <a href="#">Outono</a>
                            <a href="#">Primavera</a>
                            <a href="#">Inverno</a>
                        </div>
                    </div>
                    <div class="submenu">
                        <a href="#">Moda Feminina</a>
                        <div class="sub-content">
                            <a href="#">Blusas</a>
                            <a href="#">Vestidos</a>
                            <a href="#">Conjuntos</a>
                            <a href="#">Parte Inferior</a>
                            <a href="#">Calçados</a>
                        </div>
                    </div>
                    <div class="submenu">
                        <a href="#">Moda Masculina</a>
                        <div class="sub-content">
                            <a href="#">Blusas</a>
                            <a href="#">Parte Inferior</a>
                            <a href="#">Calçados</a>
                        </div>
                    </div>
                    <div class="submenu">
                        <a href="#">Marcas</a>
                        <div class="sub-content">
                            <!-- Aqui serão adicionados os botões de marcas dinamicamente -->
                        </div>
                        <li><a href="http://127.0.0.1:5500/loja/templates/login.html"><i class="fas fa-user"></i> Login</a></li>
                        <li><a href="#"><i class="fas fa-shopping-cart"></i> Carrinho</a></li>

                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <div class="search-container">
        <input type="text" placeholder="Pesquisar...">
        <button type="submit"><i class="fas fa-search"></i></button>
    </div>

</header>

    <div class="carousel">
        <div class="slides">
            <img src="/loja/loja/imagem/1.jpeg" alt="Imagem 1">
            <img src="/loja/loja/imagem/2.jpeg" alt="Imagem 2">
            <img src="/loja/loja/imagem/8.jpeg" alt="Imagem 3">
            <img src="/loja/loja/imagem/11.jpeg" alt="">
            <img src="/loja/loja/imagem/b3.jpeg" alt="">
            <img src="/loja/loja/imagem/b5.jpeg" alt="">
            <img src="/loja/loja/imagem/b13.jpeg" alt="">
            <img src="/loja/loja/imagem/c1.jpeg" alt="">
            <img src="/loja/loja/imagem/c2.jpeg" alt="">
            <img src="/loja/loja/imagem/cal18.jpeg" alt="">
            <img src="/loja/loja/imagem/cal19.jpeg" alt="">
            <img src="/loja/loja/imagem/cami1.jpeg" alt="">
            <img src="/loja/loja/imagem/cami13.jpeg" alt="">
            <img src="/loja/loja/imagem/s1.jpeg" alt="">
            <img src="/loja/loja/imagem/s10.jpeg" alt="">
            <img src="/loja/loja/imagem/v15.jpeg" alt="">
            <img src="/loja/loja/imagem/v10.jpeg" alt="">
            
            <!-- Adicione mais imagens aqui conforme necessário -->
        </div>     
    </div>
   
  

    <!-- Seção de Novas Tendências -->
    <h2>Novas Tendências</h2>
    <section class="trends">
        
        <div class="season">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrXJG3wTMBRJMxhQm35s69LPF94Gf4_QzOLLQeLAeTIg&s" alt="Verão">
            <button>Verão</button>
        </div>
        <div class="season">
            <img src="https://static.mundoeducacao.uol.com.br/mundoeducacao/2020/11/folhas.jpg" alt="Outono">
            <button>Outono</button>
        </div>
        <div class="season">
            <img src="https://services.meteored.com/img/article/quando-vira-a-primavera-este-ano-e-que-caracteristicas-apresentara-no-nosso-territorio-novo-ano-1706307252253_1280.jpeg " alt="Primavera">
            <button>Primavera</button>
        </div>
        <div class="season">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBmYfbs109vII8e0s-zuUYo0lkAtQ-5waWV8xd5UBrDQ&s" alt="Inverno">
            <button>Inverno</button>
        </div>
    </div>
        </section>
    </section>
    
    
    
       <!-- Seção de Moda Feminina -->
       <h2>Moda Feminina</h2>
        <section class="fashion">
            
            <div class="item">
                <img src="/loja/loja/imagem/10.jpeg" alt="Produto 1">
                <p>Valor: $XX.XX</p>
                <p>Cores disponíveis: Azul, Vermelho, Preto</p>
                <button>Colocar no Carrinho</button>
            </div>
            <div class="item">
                <img src="/loja/loja/imagem/v4.jpeg" alt="Produto 2">
                <p>Valor: $XX.XX</p>
                <p>Cores disponíveis: Rosa, Verde, Branco</p>
                <button>Colocar no Carrinho</button>
            </div>
            <div class="item">
                <img src="/loja/loja/imagem/c12.jpeg" alt="Produto 3 ">
                <p>Valor: $XX.XX</p>
                <p>Cores disponíveis: Rosa, Verde, Branco</p>
                <button>Colocar no Carrinho</button>
            </div>
            <div class="item">
                <img src="/loja/loja/imagem/v15.jpeg" alt="Produto 4">
                <p>Valor: $XX.XX</p>
                <p>Cores disponíveis: Rosa, Verde, Branco</p>
                <button>Colocar no Carrinho</button>
            </div>
            <!-- Adicione mais itens conforme necessário -->
        </section>    

        <h2>Moda Masculina</h2>
        <section class="homen">
            
            <div class="itens">
                <img src="/loja/loja/imagem/b12.jpeg" alt="Produto 1">
                <p>Valor: $XX.XX</p>
                <p>Cores disponíveis: Azul, Vermelho, Preto</p>
                <button>Colocar no Carrinho</button>
            </div>
            <div class="itens">
                <img src="/loja/loja/imagem/cal19.jpeg" alt="Produto 2">
                <p>Valor: $XX.XX</p>
                <p>Cores disponíveis: Rosa, Verde, Branco</p>
                <button>Colocar no Carrinho</button>
            </div>
            <div class="itens">
                <img src="/loja/loja/imagem/s8.jpeg" alt="Produto 3 ">
                <p>Valor: $XX.XX</p>
                <p>Cores disponíveis: Rosa, Verde, Branco</p>
                <button>Colocar no Carrinho</button>
            </div>
            <div class="itens">
                <img src="/loja/loja/imagem/cami7.jpeg" alt="Produto 4">
                <p>Valor: $XX.XX</p>
                <p>Cores disponíveis: Rosa, Verde, Branco</p>
                <button>Colocar no Carrinho</button>
            </div>
            <!-- Adicione mais itens conforme necessário -->
        </section>    

    <script src="javascripts.js"></script>

</body>
</html>
