<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VogueVitality</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">


</head>

<body>

    <header>
        <div class="logo">
            <h1>VogueVitality</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Categorias</a>
                    <div class="dropdown-content">
                        <div class="submenu">
                            <a href="#">Últimas Tendências</a>
                            <div class="sub-content">
                                <a href="#">Verão</a>
                                <a href="#">Outono</a>
                                <a href="#">Primavera</a>
                                <a href="#">Inverno</a>
                            </div>
                        </div>
                        <div class="submenu">
                            <a href="#">Moda Feminina</a>
                            <div class="sub-content">
                                <a href="#">Blusas</a>
                                <a href="#">Vestidos</a>
                                <a href="#">Conjuntos</a>
                                <a href="#">Parte Inferior</a>
                                <a href="#">Calçados</a>
                            </div>
                        </div>
                        <div class="submenu">
                            <a href="#">Moda Masculina</a>
                            <div class="sub-content">
                                <a href="#">Blusas</a>
                                <a href="#">Parte Inferior</a>
                                <a href="#">Calçados</a>
                            </div>
                        </div>
                        <div class="submenu">
                            <a href="#">Marcas</a>
                            <div class="sub-content">
                                <!-- Aqui serão adicionados os botões de marcas dinamicamente -->
                            </div>
                <li><a href="#"><i class="fas fa-user"></i> Login</a></li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i> Carrinho</a></li>

                </div>
                </div>
                </li>
            </ul>
        </nav>
        <div class="search-container">
            <input type="text" placeholder="Pesquisar...">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>

    </header>
    <h2 >Fotos da Loja </h2>

    <div class="slider">
        <div class="slides">
            <!-- radio buttons-->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            <input type="radio" name="radio-btn" id="radio5">
            <input type="radio" name="radio-btn" id="radio6">
            <input type="radio" name="radio-btn" id="radio7">
            <input type="radio" name="radio-btn" id="radio8">
            <input type="radio" name="radio-btn" id="radio9">
            <input type="radio" name="radio-btn" id="radio10">
            <input type="radio" name="radio-btn" id="radio11">
            <input type="radio" name="radio-btn" id="radio12">
            <input type="radio" name="radio-btn" id="radio13">
            <input type="radio" name="radio-btn" id="radio14">
            <input type="radio" name="radio-btn" id="radio15">
            <input type="radio" name="radio-btn" id="radio16">
            
            <!--fim radio buttons-->


            <!-- slide images -->
            <div class="slide first">
                <img src="https://i.pinimg.com/564x/e4/ab/33/e4ab33d40cb960584be6c445ec0dd910.jpg" alt="imagem 1" >

            </div>
            <div class="slide ">
                <img src="https://i.pinimg.com/564x/f1/0d/74/f10d74e48a9340e7f6a880a4f0f8b707.jpg" alt="imagem 2">
            
            </div>
            <div class="slide ">
                <img src="https://i.pinimg.com/736x/19/56/dc/1956dc88514cf945a0601a49a47b7c21.jpg" alt="imagem 3">
            
           
            <div class="slide ">
                <img src="https://i.pinimg.com/736x/7c/1d/1e/7c1d1ea243e232c679cd84964850fec1.jpg" alt="imagem 4">
            
            </div>
           
            <div class="slide ">
                <img src="https://i.pinimg.com/564x/84/1b/45/841b4501a9ca5679e91210078e2d41d1.jpg" alt="imagem 5">
            
            </div>
            <div class="slide ">
                <img src="https://i.pinimg.com/564x/43/c8/cd/43c8cd5078a91145401092e296f6ffc3.jpg" alt="imagem 6">
            
            </div>
            <div class="slide ">
                <img src="https://i.pinimg.com/564x/2d/7a/71/2d7a71d38afc7ca2e7210545af4c0a05.jpg" alt="imagem 7">
            
            </div>
            <div class="slide ">
                <img src="https://i.pinimg.com/564x/a4/28/14/a42814b64e2cf2a4b1617c2537766f17.jpg" alt="imagem 8">
            
            </div>
            
            </div>
            <div class="slide ">
                <img src="https://i.pinimg.com/736x/f7/fa/b9/f7fab940c2658bc5355c457ab8de095f.jpg" alt="imagem 9">
            
            </div>
            <div class="slide ">
                <img src="https://i.pinimg.com/564x/b2/b2/21/b2b221787ce0ce3b5b9a9fb5ce9d33df.jpg" alt="imagem 10">
            
            </div>

            <div class="slide ">
                <img src="https://i.pinimg.com/564x/53/8c/0e/538c0e2d92f138dc31a13b6dc2602fba.jpg" alt="imagem 11">
            
            </div>
            <div class="slide ">
                <img src="https://i.pinimg.com/736x/ce/9d/48/ce9d4868cdcb0b07f7661f836dc5af5e.jpg" alt="imagem 12">
            
            </div>
            <div class="slide ">
                <img src="https://i.pinimg.com/564x/69/a7/5f/69a75f9f1f42564c1311ca249f51dff3.jpg" alt="imagem 13">
            
            </div>
            <div class="slide ">
                <img src="https://i.pinimg.com/564x/51/03/96/51039603bb468cd5db6e46ffc051fb3a.jpg" alt="imagem 14">
            
            </div>
            <div class="slide ">
                <img src="https://i.pinimg.com/564x/10/d1/bb/10d1bb0d1021290464d7be02c2b653a6.jpg" alt="imagem 15">
            
            </div>
            <div class="slide ">
                <img src="https://i.pinimg.com/564x/a5/1a/7c/a51a7c1d0f8f6cbd4b0a473c0a5405fd.jpg" alt="imagem 16">
            
            <!--  fim slide images -->

            <!-- navigagation auto -->

            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
                <div class="auto-btn5"></div>
                <div class="auto-btn6"></div>
                <div class="auto-btn7"></div>
                <div class="auto-btn8"></div>
                <div class="auto-btn9"></div>
                <div class="auto-btn10"></div>
                <div class="auto-btn11"></div>
                <div class="auto-btn12"></div>
                <div class="auto-btn13"></div>
                <div class="auto-btn14"></div>
                <div class="auto-btn15"></div>
                <div class="auto-btn16"></div>
                
            </div>


           

        </div>

        <div class="manual-navigation">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
        <label for="radio5" class="manual-btn"></label>
        <label for="radio6" class="manual-btn"></label>
        <label for="radio7" class="manual-btn"></label>
        <label for="radio8" class="manual-btn"></label>
        <label for="radio9" class="manual-btn"></label>
        <label for="radio10" class="manual-btn"></label>
        <label for="radio11" class="manual-btn"></label>
        <label for="radio12" class="manual-btn"></label>
        <label for="radio13" class="manual-btn"></label>
        <label for="radio14" class="manual-btn"></label>
        <label for="radio15" class="manual-btn"></label>
        <label for="radio16" class="manual-btn"></label>
        
        
        </div>

    
    </div>



    <script src="javascripts.js">
        
    
    </script>
</body>

</html>