<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VogueVitality</title>
    <link rel="icon" type="image/x-icon" href="/loja/loja/imagem/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">


</head>
<body>

<header>

    <div class="logo">
        <h1>VogueVitality</h1>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Categorias</a>
                <div class="dropdown-content">
                    <div class="submenu">
                        <a href="#Novas Tendências">Últimas Tendências</a>
                        <div class="sub-content">
                            <a href="#Verão">Verão</a>
                            <a href="#Outono">Outono</a>
                            <a href="#Primavera">Primavera</a>
                            <a href="#Inverno">Inverno</a>
                        </div>
                    </div>
                    <div class="submenu">
                        <a href="feminina.html">Moda Feminina</a>
                        <div class="sub-content">
                            <a href="feminina.html">Blusas</a>
                            <a href="feminina.html">Vestidos</a>
                            <a href="feminina.html">Conjuntos</a>
                            <a href="feminina.html">Parte Inferior</a>
                            <a href="feminina.html">Calçados</a>
                        </div>
                    </div>
                    <div class="submenu">
                        <a href="masculino.html">Moda Masculina</a>
                        <div class="sub-content">
                            <a href="masculino.html">Blusas</a>
                            <a href="masculino.html">Parte Inferior</a>
                            <a href="masculino.html">Calçados</a>
                        </div>
                    </div>
                    <div class="submenu">
                        <a href="#">Marcas</a>
                        <div class="sub-content">
                            <!-- Aqui serão adicionados os botões de marcas dinamicamente -->
                        </div>
                        <li><a href="login.html"><i class="fas fa-user"></i> Login</a></li>
                        <li><a href="carrinho.html"><i class="fas fa-shopping-cart"></i> Carrinho</a></li>

                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <div class="search-container">
        <input type="text" placeholder="Pesquisar...">
        <button type="submit"><i class="fas fa-search"></i></button>
    </div>

</header>
    <section class="container">
    <section class="mainhome">
    <div class="main-text">
        <h5>Coleção Inverno</h5>
        <h3>Nova Coleção <br>Inverno 2024</h3>
        <p>Aposte na elegância descomplicada</p>
    </div>
    </section>

    <div class="carousel">
        <div class="slides">
            <img src="/loja/loja/imagem/1.jpeg" alt="Imagem 1">
            <img src="/loja/loja/imagem/2.jpeg" alt="Imagem 2">
            <img src="/loja/loja/imagem/8.jpeg" alt="Imagem 3">
            <img src="/loja/loja/imagem/11.jpeg" alt="">
            <img src="/loja/loja/imagem/b3.jpeg" alt="">
            <img src="/loja/loja/imagem/b5.jpeg" alt="">
            <img src="/loja/loja/imagem/b13.jpeg" alt="">
            <img src="/loja/loja/imagem/c1.jpeg" alt="">
            <img src="/loja/loja/imagem/c2.jpeg" alt="">
            <img src="/loja/loja/imagem/cal18.jpeg" alt="">
            <img src="/loja/loja/imagem/cal19.jpeg" alt="">
            <img src="/loja/loja/imagem/cami1.jpeg" alt="">
            <img src="/loja/loja/imagem/cami13.jpeg" alt="">
            <img src="/loja/loja/imagem/s1.jpeg" alt="">
            <img src="/loja/loja/imagem/s10.jpeg" alt="">
            <img src="/loja/loja/imagem/v15.jpeg" alt="">
            <img src="/loja/loja/imagem/v10.jpeg" alt="">
            
            <!-- Adicione mais imagens aqui conforme necessário -->
        </div>     
    </div>
</section>
  

    <!-- Seção de Novas Tendências -->
    <h2 class="centered" id="Novas Tendências">Novas Tendências</h2>
    <section class="trends">
         <div class="season">
            <img src="https://i.pinimg.com/564x/6e/c0/68/6ec0687c6b8d48805fd1816025cfcde4.jpg" id="Verão">
            <button>Verão</button> 
        </div>
        <div class="season">
            <img src="https://i.pinimg.com/564x/58/ae/0a/58ae0a454ca1883dee4ffefcff155783.jpg" id="Outono">
            <button>Outono</button>
        </div>
        <div class="season">
            <img src="https://i.pinimg.com/564x/1d/8a/f6/1d8af63db2212d69ddf6e56e0498e55c.jpg" id="Primavera">
            <button>Primavera</button>
        </div>
        <div class="season">
            <img src="https://i.pinimg.com/564x/a1/0d/7e/a10d7ea26ff50a90bc8d2104a71897c4.jpg" id="Inverno">
            <button>Inverno</button>
        </div>
    </div>
        </section>
    </section>
    
    <!-- Seção de Moda Feminina -->
    <h2 class="centered" id="Moda Feminina">Moda Feminina</h2>
    <section class="fashion">
        <div class="item" id="Produto 1">
            <img src="/loja/loja/imagem/10.jpeg" alt="Short jeans feminino cintura alta">
            <p>Short jeans feminino cintura alta</p>
            <p>Valor: $XX.XX</p>
            <button onclick="adicionarAoCarrinho('/loja/loja/imagem/10.jpeg', 'Short jeans feminino cintura alta')">Colocar no Carrinho</button>
        </div>

        <div class="item" id="Produto 2">
            <img src="/loja/loja/imagem/v4.jpeg" alt="Vestido elegante laranja">
            <p>Vestido elegante laranja</p>
            <p>Valor: $XX.XX</p>
            <button onclick="adicionarAoCarrinho('/loja/loja/imagem/v4.jpeg','Vestido elegante laranja')">Colocar no Carrinho</button>
        </div>
        <div class="item" id="Produto 3 ">
            <img src="/loja/loja/imagem/c12.jpeg" alt=" calça jeans wide leg com borboletas cor caqui ">
            <p>calça jeans wide leg com borboletas cor caqui</p>
            <p>Valor: $XX.XX</p>
            <button onclick="adicionarAoCarrinho('/loja/loja/imagem/c12.jpeg', 'calça jeans wide leg com borboletas cor caqui')">Colocar no Carrinho</button>
        </div>
        <div class="item" id="Produto 4">
            <img src="/loja/loja/imagem/v15.jpeg" alt="vestido longo azul">
            <p>vestido longo azul</p>
            <p>Valor: $XX.XX</p>
            <button onclick="adicionarAoCarrinho('/loja/loja/imagem/v15.jpeg', 'vestido longo azul ')">Colocar no Carrinho</button>
        </div>
        
        <!-- Adicione mais itens conforme necessário -->
    </div>

    
    </section>    
    
       

        <h2 class="centered" id="Moda Masculina">Moda Masculina</h2>
        <section class="homen">
            
            <div class="itens" id="Produto 1">
                <img src="/loja/loja/imagem/b12.jpeg" alt="Bermuda beige">
                <p>Bermuda beige</p>
                <p>Valor: $XX.XX</p>
                <button onclick="adicionarAoCarrinho('/loja/loja/imagem/b12.jpeg', 'Bermuda beige')">Colocar no Carrinho</button>
            </div>
            <div class="itens" id="Produto 2">
                <img src="/loja/loja/imagem/cal19.jpeg" alt="calça alfataria azul">
                <p>Calça alfataria azul</p>
                <p>Valor: $XX.XX</p>
                <button onclick="adicionarAoCarrinho('/loja/loja/imagem/cal19.jpeg' , 'calça alfataria azul')">Colocar no Carrinho</button>
            </div>
            <div class="itens" id="Produto 3">
                <img src="/loja/loja/imagem/s8.jpeg" alt="Tênis nike Branco ">
                <p>Tênis nike Branco</p>
                <p>Valor: $XX.XX</p>
                <button onclick="adicionarAoCarrinho('/loja/loja/imagem/s8.jpeg' , 'Tênis nike Branco')">Colocar no Carrinho</button>
            </div>
            <div class="itens" id="Produto 4">
                <img src="/loja/loja/imagem/cami7.jpeg" alt="Produto 4">
                <P>Blusa longa marrom</P>
                <p>Valor: $XX.XX</p>
                <button onclick="adicionarAoCarrinho('/loja/loja/imagem/cami7.jpeg' , 'Blusa longa marrom')">Colocar no Carrinho</button>
            </div>
           
            <!-- Adicione mais itens conforme necessário -->
        
            
        </section>  
        
        
        <h2 class="centered" id="Marcas">Marcas</h2>
    <section class="marcas">
        
        <div class="moda">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Adidas_logo.png/1024px-Adidas_logo.png" alt="adidas">
            <button>Adidas</button>
        </div>
        <div class="moda">
            <img src="https://logosmarcas.net/wp-content/uploads/2020/04/Nike-Logo.png" alt="nike">
            <button>nike</button>
        </div>
        <div class="moda">
            <img src="https://logopng.com.br/logos/calvin-klein-22.png" alt="Ck">
            <button>Calvin Klein</button>
        </div>
        <div class="moda">
            <img src="https://download.logo.wine/logo/Balenciaga/Balenciaga-Logo.wine.png" alt="Balenciaga">
            <button>Balenciaga</button>
        </div>
    </div>
        </section>
    </section>

    <section class="contact-about">
        <div class="contacts">
            <h2>Contatos</h2>
            <div class="social-icons">
                <a href="#"><i class="fab fa-instagram">@VogueVitality</i></a>

                <a href="#"><i class="fab fa-facebook">VogueVitality</i></a>
            </div>
        </div>
        <div class="about">
            <h2>Sobre a Marca</h2>
            <p>Na VogueVitality, nossa missão é oferecer uma experiência de moda incomparável para aqueles que buscam o extraordinário. Como uma boutique de alta classe, nos dedicamos a curar uma coleção excepcional de roupas femininas e masculinas, representando o ápice do estilo e da elegância.

                Cada peça em nossa coleção é cuidadosamente selecionada para refletir não apenas as últimas tendências da moda, mas também a qualidade incomparável e o artesanato excepcional que definem nossa loja, cada item é uma expressão de sofisticação e estilo refinado.
                
                Na VogueVitality, acreditamos que a moda vai além do simples vestuário; é uma forma de expressão pessoal e uma declaração de individualidade. Convidamos você a explorar nossa coleção exclusiva e descobrir o poder transformador da moda de alta classe.</p>
        </div>
    </section>
</section>





    <script src="javascripts.js"></script>

</body>
</html>
