<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
<!--css-->
    <link rel="stylesheet" href="/loja/templates/login.css">
    <!--boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
   <section class="container froms">
    <div class="form login">
        <div class ="form-content">
            <header>Login</header>
            <form action="#">
                <div class="field input-field">
                    <input type="email" placeholder="Email"  class="input">

                </div>

                <div class="field input-field">
                    <input type="senha" placeholder="Senha" class="senha">
                <i class='bx bxs-hide eye-icon'></i>
                </div>

                <div class="form-link">
                    <a href="#" class="forgot-pass">Esqueceu sua senha?</a>
                </div>

                <div class="field button-field">
                    <button>Login</button>
                </div>
            <div class="form-link">
                    <span> Não tem uma conta? <a href="#" class=" link signup-link">Inscreva-se</a> </span>
            </div>
            </form>
        </div>
        <div class="line"></div>

        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Entrar com Facebook</span>
            </a>
        </div>

        <div class="media-options">
        <a href="#" class="field google">
            <img src="/loja/loja/imagem/google-icon.png" alt="" class="google-img">
            <span>Entrar com Google</span>
        </a>
        </div>

    </div>

<!-- formulario de inscrição-->


    <div class="form signup">
        <div class="form-content">
            <header>Inscrever-se</header>
            <form action="#">
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input">
    
                </div>
    
                <div class="field input-field">
                    <input type="password" placeholder="Senha" class="senha">
                    <i class='bx bxs-hide eye-icon'></i>
                </div>
                
                <div class="field input-field">
                    <input type="password" placeholder="Confirmar Senha" class="senha">
                    <i class='bx bxs-hide eye-icon confirm-eye'></i>
                </div>


    
                
    
                <div class="field button-field">
                    <button>Inscrever-se</button>
                </div>
                <div class="form-link">
                    <span> Já tem uma conta? <a href="#" class=" link login-link">Entrar</a> </span>
                </div>
            </form>
        </div>
        <div class="line"></div>
    
        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Entrar com Facebook</span>
            </a>
        </div>
    
        <div class="media-options">
            <a href="#" class="field google">
                <img src="/loja/loja/imagem/google-icon.png" alt="" class="google-img">
                <span>Entrar com Google</span>
            </a>
        </div>
    
    </div>
   </section>

   <!-- java-->
   <script src="/loja/templates/login.js"></script>
</body>
</html>