/* Estilos gerais */
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0 10px; /* Ajuste conforme necessário para alinhamento */
    background-color: #f5f5f5;
    background-color: rgba(13, 21, 31, 0.2)
}

header {
    background-color: #052659;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: white;
    margin-left: 20px; /* Espaçamento da logo */
}

h1{
    text-align: center;
}

nav .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav .nav-links li {
    float: left;
}

nav .nav-links li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav .nav-links li a:hover {
    background-color: #1059c7;
}

/* Estilos do dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1059c7;
    min-width: 200px; /* Largura do dropdown */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .submenu {
    position: relative;
    display: inline-block;
}

.dropdown-content .submenu .sub-content {
    display: none;
    position: absolute;
    background-color: #2c78d4;
    /* Largura do submenu igual à largura do menu */
    width: 100%;
    /* Largura do submenu */
    box-shadow: 0px 8px 16px 0px rgba(13, 21, 31, 0.2);
    z-index: 1;
    left: 0;
    top: 100%;
}

.dropdown-content .submenu:hover .sub-content {
    display: block;
}

.dropdown-content a {
    color: rgb(33, 26, 122);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos da barra de pesquisa */
.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.search-container button[type="submit"] {
    padding: 10px 15px;
    background-color: #003cff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button[type="submit"]:hover {
    background-color: #0722be;
}

.carousel {
/* >>>>>>> Stashed changes */
    position: relative;
    max-width: 300px;
    overflow: hidden;
    margin-top: 20px;
    align-items: flex-end;
    flex: 1;
    margin-left: 250px;
   
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    align-items: flex-end;
}



.slides img{
    width:500px;
    height: 500px;
    border-radius: 5px;
   
}

.slide.active {
    display: block; /* Exibe o slide ativo */
  
}

.centered {
    text-align: center;
    margin-top: 20px; /* Ajuste conforme necessário */
}

/* Seção de Novas Tendências */
.trends {
    display: flex;  /* Usa flexbox para alinhar os itens lado a lado */
    justify-content: space-around; /* Distribui espaço entre os itens */
    align-items: center; /* Centraliza os itens verticalmente */
    flex-wrap: wrap; /* Permite que os itens passem para a próxima linha, se necessário */
    padding: 20px; /* Adiciona um pouco de espaço interno */
}

.trends .season {
   display: flex; /* Cada item da temporada ocupa um espaço igual */
    margin: 10px; /* Adiciona uma margem ao redor de cada item */
    flex-direction: column; /* Alinha os itens verticalmente em coluna */
    align-items: center;  /* Centraliza os itens horizontalmente */
    flex: 1;              /* Permite que cada item expanda proporcionalmente */
    text-align: center;   /* Garante que o texto dentro de cada item esteja centralizado */

}

.trends .season img {
    max-width: 350px; 
    height: 350px;
    width: auto; /* Faz a imagem preencher a largura do container */
    margin-bottom: 10px; 
    border-radius: 10px;
   

}

.trends button {
    width: auto;          /* O botão tem a largura do seu conteúdo */
    padding: 10px 20px;   /* Padding interno para fazer o botão parecer melhor */
}

/* moda feminina*/

.fashion {
    display: flex;       /* Ativa o Flexbox, que organiza os filhos lado a lado */
    flex-wrap: wrap;     /* Permite que os itens passem para a próxima linha se não couberem */
    justify-content: space-around; /* Distribui o espaço uniformemente em torno dos itens */
    align-items: center; /* Alinha os itens verticalmente no centro */
    padding: 20px;
}

.fashion.intem {
    display: flex; /* Cada item da temporada ocupa um espaço igual */
     margin: 5px; /* Adiciona uma margem ao redor de cada item */
     flex-direction: column; /* Alinha os itens verticalmente em coluna */
     align-items: center;  /* Centraliza os itens horizontalmente */
     flex: 1;              /* Permite que cada item expanda proporcionalmente */
     text-align: center;   /* Garante que o texto dentro de cada item esteja centralizado */
}

.fashion img {
     
    max-width: 300px;    /* Limita a largura máxima para evitar imagens muito grandes */
    height: auto;        /* Mantém a proporção da altura em relação à largura */
    margin: 10px;        /* Espaço ao redor de cada imagem */
   
}

.fashion button {
    width: auto;          /* O botão tem a largura do seu conteúdo */
    padding: 10px 20px;   /* Padding interno para fazer o botão parecer melhor */
}

/* moda masculina*/

.homen {
    display: flex;       /* Ativa o Flexbox, que organiza os filhos lado a lado */
    flex-wrap: wrap;     /* Permite que os itens passem para a próxima linha se não couberem */
    justify-content: space-around; /* Distribui o espaço uniformemente em torno dos itens */
    align-items: center; /* Alinha os itens verticalmente no centro */
    padding: 20px;
}

.homen.intens {
    display: flex; /* Cada item da temporada ocupa um espaço igual */
     margin: 10px; /* Adiciona uma margem ao redor de cada item */
     flex-direction: column; /* Alinha os itens verticalmente em coluna */
     align-items: center;  /* Centraliza os itens horizontalmente */
     flex: 1;              /* Permite que cada item expanda proporcionalmente */
     text-align: center;   /* Garante que o texto dentro de cada item esteja centralizado */
}


.homen img {
    max-width: 400px;
    width: auto;          /* Define a largura de cada imagem */
    height: 400px;        /* Mantém a proporção da altura em relação à largura */
    margin: 10px;        /* Espaço ao redor de cada imagem */
    border-radius: 10px;
}

.homen button {
    width: auto;          /* O botão tem a largura do seu conteúdo */
    padding: 10px 20px;   /* Padding interno para fazer o botão parecer melhor */
}

section{
    padding: 5% 10%;

}

.marcas{
    display: flex;  /* Usa flexbox para alinhar os itens lado a lado */
    justify-content: space-around; /* Distribui espaço entre os itens */
    align-items: center; /* Centraliza os itens verticalmente */
    flex-wrap: wrap; /* Permite que os itens passem para a próxima linha, se necessário */
    padding: 20px; /* Adiciona um pouco de espaço interno */
}

.marcas .moda {
   display: flex; /* Cada item da temporada ocupa um espaço igual */
    margin: 10px; /* Adiciona uma margem ao redor de cada item */
    flex-direction: column; /* Alinha os itens verticalmente em coluna */
    align-items: center;  /* Centraliza os itens horizontalmente */
    flex: 1;              /* Permite que cada item expanda proporcionalmente */
    text-align: center;   /* Garante que o texto dentro de cada item esteja centralizado */

}

.marcas img {
    width:auto; /* Faz a imagem preencher a largura do container */
    max-width: 250px; /* Limita a largura máxima da imagem */
    height: 150px; /* Mantém a proporção da imagem */
    margin-bottom: 20px; 
    border-radius: 10px;

}

.marcas button {
    width: auto;          /* O botão tem a largura do seu conteúdo */
    padding: 10px 20px;   /* Padding interno para fazer o botão parecer melhor */
}




/*fim das tendencias*/


.container{
    display: flex;
}

.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(/loja/loja/imagem/banner-3.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1. 1fr);
    align-items: center;
    flex: 1;
}

.main-text h5{
    color: rgb(23, 99, 99);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}

.main-text h3{
    color: #050404;
    font-size: 55px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}

.main-text p{
    color: #4e5052;
    font-size: 17px;
    font-style: italic;
    margin-bottom: 20px;
}


/*contatos*/

.contact-about {
    display: flex;
    justify-content: space-between; /* Alinha os elementos opostos nas extremidades */
    margin: 20px 0; /* Adiciona margem superior e inferior para separação */
}


.contacts {
    width: 48%; /* Divide o espaço disponível em duas colunas */
    margin:50px;
}

.about {
    width: 48%; /* Divide o espaço disponível em duas colunas */
}


/*botoes*/

button {
    background-color: #001b48; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno (vertical horizontal) */
    border: none; /* Remover borda */
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer; /* Mostrar cursor ao passar por cima */
    font-size: 16px; /* Tamanho da fonte */
}

/* Estilizando o botão quando o cursor passa por cima */
button:hover {
    background-color: #97cadb; /* Cor de fundo ao passar o cursor */
}

/* Estilo para as bolinhas de cor */
.color-dot {
    display: inline-block; /* Torna os elementos em linha */
    width: 15px; /* Largura da bolinha */
    height: 15px; /* Altura da bolinha */
    border-radius: 50%; /* Torna a bolinha circular */
    margin-right: 5px; /* Espaço à direita para separar da próxima cor */
}

/* Estilo para as cores disponíveis */
.color-option {
    display: inline-block; /* Torna os elementos em linha */
    margin-right: 10px; /* Espaçamento à direita para separar da próxima opção */
}

/* Estilo para as bolinhas de cor */
.color-dot {
    display: inline-block; /* Torna os elementos em linha */
    width: 15px; /* Largura da bolinha */
    height: 15px; /* Altura da bolinha */
    border-radius: 50%; /* Torna a bolinha circular */
    margin-right: 5px; /* Espaço à direita para separar da próxima cor */
}






